
html {
  background:#FAFAFA url(../img/background.png) repeat;
  background-size: 412px 412px;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}




.jena-nav__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 90px;
  margin-top: -180px;
}

.jena-nav {
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.1);
  padding: 12px 20px 11px;
  color: #222;
  font-size: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-decoration: none;
  font-weight: bold;
  
}

.jena-nav.is-active,  
.jena-nav:hover,
.jena-nav:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.jena-nav span {
  color: #B2000F;
  font-weight: normal;
}

.jena-nav--prev {
  padding-left: 17px;
}

.jena-nav--next {
  padding-right: 17px;
}

.jena-nav--disabled {
  opacity: 0.6;
  transition: none;
}

.jena-nav--disabled:hover,
.jena-nav--disabled:focus {
  transform: none;
  cursor: no-drop;
  background: rgba(0, 0, 0, 0.2);
}