.anchorjs-link {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1em;
    line-height: 1;
    font-family: anchorjs-icons;
    padding-left: 0.375em;
}