.list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    margin-top: 90px;
    align-items: center;
}

.list__item {
    background: palette(white);
    margin-bottom: 3%;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-flow: column nowrap;
    max-width: 620px;
    width: 100%;
    
    @include respond-to(medium) {
        flex-flow: row nowrap;
        align-items: stretch;
        max-width: none;
    }
    
}

.list__item-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px;
    order: 2;
    
    @include respond-to(medium) {
        order: -1;
        width: 33.333%;
    }
}

.list__caption {
    text-transform: uppercase;
    font-size: 70%;
    font-family: 'adelle-sans', 'helvetica', sans-serif;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
    color: #999;
}

.list__heading {
    @include transition();
    @include transition-property(color);
    padding: 0px 0 10px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 700;
    color: palette(black);
    
    &:hover,
    &:focus {
        color: palette(primary);
    }
}

.list__description {
    font-size: 0.8rem;
    list-style-type: none;
    padding-left: 0;
    
    li {
        position: relative;
        padding-left: 20px;
        
        &::before {
            content: '';
            background: palette(gray, mid);
            width: 8px;
            height: 8px;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -4px;
            border-radius: 50%;
        }
    }

    @include respond-to(medium) {
        padding-bottom: ($spacing * 2);
    }
}

.list__links {
    margin-top: 30px;

    @include respond-to(medium) {
        position: absolute;
        bottom: 25px;
        left: 25px;
        margin-top: 0;
    }
}

.list__link {
    @include transition();
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'adelle-sans', 'helvetica', sans-serif;
    font-size: 70%;
    border: 2px solid $transparent;
    padding: 5px 15px 6px;
    
    &:hover,
    &:focus {
        background: palette(primary);
        color: palette(white);
        border-color: palette(primary);
    }
}

.list__link--primary {
    border-color: palette(primary);
}

.list__image {
    // align-self: center;
}

.list__image-link {
    display: block;
    
    @include respond-to(medium) {
        width: 66.666%;
    }
}